.project02 {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 40px;
    position: sticky;
    z-index: 99;
    top: 0;
    width: 100%;
    font-weight: 600;
    .left-side {
      display: flex;
      align-items: center;
      gap: 2vw;
      height: 100%;
      .red-box {
        background-color: red;
        padding: 0 5px;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .right-side {
      display: flex;
      gap: 2vw;
      align-items: center;
    }
    a,
    .icon {
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      &:active {
        opacity: 1;
      }
    }
  }
  .hidden-screen {
    overflow-y: scroll;
    border-top: 1px solid white;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding: 3vw 6vw;
    input {
      width: 100%;
      padding: 0.8vw 1.5vw;
      border-radius: 10px;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
    .top {
      display: flex;
      gap: 7vw;
      padding: 1.2vw 0;
      border-bottom: 1px solid white;
      align-items: center;
      .btn-box {
        display: flex;
        align-items: center;
        h2 {
          font-weight: bold;
          font-size: 20px;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
            cursor: default;
          }
        }
        button {
          display: none;
        }
      }
    }
    .hide-modal-wrap {
      display: block;
      .hide-modal {
        display: flex;
        gap: 7vw;
        align-items: center;
        h1 {
          &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
            cursor: default;
          }
        }
      }
    }
    .body {
      padding: 1.2vw 0 2vw 0;
      gap: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-bottom: 1px solid white;
      margin-bottom: 50px;
      .section {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        width: 11.4vw;

        .hide-cnn {
          width: 60px;
          height: 60px;
          margin: 15px 0px;
          h2 {
            height: 100%;
            width: 100%;
            font-weight: bold;
            font-size: 25px;
            background-color: red;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        h1 {
          font-size: 20px;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
            cursor: default;
          }
        }
        .span-box {
          display: flex;
          flex-direction: column;
          margin-top: 1vw;
          gap: 5px;
          span {
            &:hover {
              text-decoration: underline;
              text-underline-offset: 5px;
              cursor: default;
            }
          }
        }
      }
    }
  }
  .main {
    padding: 3vw 10vw;
    font-family: "Gothic A1", sans-serif;
    .main__header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transform: translateX(0);
      span {
        display: flex;
        color: red;
        font-weight: bold;
        p {
          font-weight: 600;
          color: black;
        }
      }
      p:not(:first-child) {
        border-left: 2px solid rgba(0, 0, 0, 0.209);
        margin-left: 2vw;
        padding-left: 2vw;
        font-weight: 600;
      }
    }
    .header-move {
      visibility: hidden;
    }
    .con01 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
      gap: 2vw;

      .kim {
        margin-top: 2vw;
        h1 {
          font-size: 2.5vw;
          &:hover {
            text-decoration: underline;
          }
        }
        img {
          display: inline-block;
          margin: 1vw 0;
          width: 100%;
          &:hover {
            opacity: 0.7;
          }
        }
        span {
          display: block;
          font-size: 1.5vw;
          width: 100%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .trump {
        display: flex;
        gap: 1vw;
        .trump01 {
          width: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
    .con02 {
      display: grid;
      grid-template-columns: 0.9fr 2fr 0.9fr;
      margin-top: 4vw;
      gap: 2vw;
      .con02-right {
        .con02-right-top {
          border-top: 1px solid grey;
          margin-bottom: 1vw;
          .empty {
            width: 16px;
            height: 4px;
            background-color: red;
            margin-bottom: 0.5vw;
          }
          h1 {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }
        }
        .messi {
          width: 100%;
          display: flex;
          flex-direction: column;
          .messi-img {
            width: 100%;
            img {
              width: 100%;
            }
            span {
              font-size: 20px;
              display: inline-block;
              margin-bottom: 1vw;
            }
          }
        }
        h6 {
          border-top: 1px solid gray;
          font-size: 16px;
          padding: 15px 0;
        }
      }
      .con02-center {
        .con02-center-header {
          margin-bottom: 1vw;
          border-top: 1px solid gray;
          .empty {
            width: 16px;
            height: 4px;
            background-color: red;
            margin-bottom: 0.5vw;
          }
          h1 {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }
        }
        .video-box {
          width: 100%;
          video {
            width: 100%;
          }
          h1 {
            font-size: 25px;
            font-weight: bold;
          }
        }
        .con02-center-bottom01 {
          display: flex;
          border-top: 1px solid grey;
          padding-top: 1vw;
          margin-bottom: 1vw;
          img {
            width: 25%;
          }
          h1 {
            font-size: 17px;
            margin-left: 1vw;
          }
        }
      }
    }
  }
}
