.project02 {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 40px;
    position: sticky;
    z-index: 99;
    top: 0;
    width: 100%;
    font-weight: 600;
    .left-side {
      display: flex;
      align-items: center;
      gap: 2vw;
      height: 100%;
      .red-box {
        background-color: red;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
    }
    .right-side {
      display: flex;
      gap: 2vw;
      align-items: center;
    }
    a,
    .icon {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .main {
    padding: 3vw 10vw;
    font-family: "Gothic A1", sans-serif;
    .main__header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      span {
        display: flex;
        color: red;
        font-weight: bold;
        p {
          font-weight: 600;
          color: black;
        }
      }
      p:not(:first-child) {
        border-left: 2px solid rgba(0, 0, 0, 0.209);
        margin-left: 2vw;
        padding-left: 2vw;
        font-weight: 600;
      }
      button {
        position: absolute;
        top: 20px;
        right: 100px;
        display: none;
      }
    }
    .con01 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
      gap: 2vw;

      .kim {
        margin-top: 2vw;
        h1 {
          font-size: 2.5vw;
          &:hover {
            text-decoration: underline;
          }
        }
        img {
          display: inline-block;
          margin: 1vw 0;
          &:hover {
            opacity: 0.7;
          }
        }
        span {
          display: block;
          font-size: 1.5vw;
          width: 100%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .trump {
        display: flex;
        gap: 1vw;
        .trump01 {
          width: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
    .con02 {
      display: grid;
      grid-template-columns: 0.9fr 2fr 0.9fr;
      margin-top: 4vw;
      gap: 2vw;
      .con02-right {
        .con02-right-top {
          border-top: 1px solid grey;
          margin-bottom: 1vw;
          .empty {
            width: 16px;
            height: 4px;
            background-color: red;
            margin-bottom: 0.5vw;
          }
          h1 {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }
        }
        .messi {
          width: 100%;
          display: flex;
          flex-direction: column;
          .messi-img {
            width: 100%;
            img {
              width: 100%;
            }
            span {
              font-size: 20px;
              display: inline-block;
              margin-bottom: 1vw;
            }
          }
        }
        h6 {
          border-top: 1px solid gray;
          font-size: 16px;
          padding: 15px 0;
        }
      }
      .con02-center {
        .con02-center-header {
          margin-bottom: 1vw;
          border-top: 1px solid gray;
          .empty {
            width: 16px;
            height: 4px;
            background-color: red;
            margin-bottom: 0.5vw;
          }
          h1 {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }
        }
        .video-box {
          width: 100%;
          video {
            width: 100%;
          }
          h1 {
            font-size: 25px;
            font-weight: bold;
          }
        }
        .con02-center-bottom01 {
          display: flex;
          border-top: 1px solid grey;
          padding-top: 1vw;
          margin-bottom: 1vw;
          img {
            width: 25%;
          }
          h1 {
            font-size: 15px;
            margin-left: 1vw;
          }
        }
      }
    }
  }
}
