.project02 {
  @media (max-width: 1000px) {
    .header {
      justify-content: space-between;
      padding: 0px 4vw;
      .left-side {
        a {
          display: none;
        }
      }
    }
    .main {
      overflow: hidden;
      .main__header {
        display: flex;

        button {
          display: block;
        }
      }
      .con01 {
        display: flex;
        flex-direction: column;
        .kim {
          h1 {
            font-size: 35px;
          }
          span {
            font-size: 20px;
          }
        }
      }
      .con02 {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
